<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="VueJs Router Rewrite">
                    <match url="^(?!kcn-songcong2)(?!.*\.(css|js|png|jpg|gif|svg|map|woff2|woff|tff)$).*" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^kcn-songcong2/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:7021/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
