$main-color: #156b54;
$hover: ;
.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
.layout-blog{
	padding-bottom: 30px;
}
.title-page{
	margin-bottom: 20px;
	text-align: center;
	img{
		display: block;
		margin: auto;
	}
	span, a{
		position: relative;
		padding-bottom: 10px;
		display: inline-block;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		color: $main-color;
		@media(max-width: 767px){
			font-size: 20px;
		}
	}
	a:hover{
		color: $hover;
	}
}
.list-blogs{
	background: #fff;
	border-radius: 15px;
	padding: 20px;
}
.article-details{
	min-height: 100%;
	padding: 20px;
	background: #fff;
	border-radius: 15px;
}
.aside-content-blog{
	margin-bottom: 30px;
	background: #fff;
	padding:20px;
	border-radius: 15px;
	.title-head-col{
		margin-bottom: 0;
			position: relative;
			font-size: 24px;
			font-weight: 700;
			color: $main-color;
			@media(max-width: 1199px){
				font-size: 20px;
				margin-bottom: 5px;
				display: block;
			}
			img{
				height: 25px;
				position: relative;
				top: -5px;
				@media(max-width: 767px){
					display: none;
				}
			}


	}
	.nav-category{
		padding: 5px;
		border-radius: 0 0 10px 10px;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			.nav-item{
				.nav-link {
					display: block;
					padding: 8px 0;
					font-size: 15px;
					color: #000;
					&.pr-5{
						padding-right: 30px;
					}
				}
				&.active, &:hover{
					> .nav-link{
						color: $main-color;
					}
					> .down_icon{
						&:after, &:before {
							background-color:  $main-color;
						}
					}
				}
			}
			.menu_down {
				padding-left: 10px !important;
			}
			.down_icon{
				height: 20px !important;
				width: 20px !important;
				position: absolute;
				right: 7.5px;
				top: 21px;
				transform: translate(0, -50%);
				cursor: pointer;
				&:after, &:before {
					position: absolute;
					content: '';
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-90deg);
					background-color: #000;
					transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
				}
				&:before {
					width: 11px;
					height: 1px;
					opacity: 1;
				}
				&:after {
					width: 1px;
					height: 11px;
				}
				&.cls_mn{
					&:after, &:before {
						background-color: $main-color;
						transform: translate(-50%, -50%) rotate(90deg);
					}
					&:before {
						opacity: 0;
					}
				}
			}
		}
	}
}
.blog_noibat{
	margin-top: 30px;
	border-radius: 15px;
	padding: 20px;
	background: #fff;


	h2{
		margin-bottom: 15px;
		position: relative;
		font-size: 24px;
		font-weight: 700;
		color: $main-color;
		display: inline-block;
		a{
			color: $main-color;
			&:hover{
				color: $hover;
			}
		}
		img{
			height: 25px;
			position: absolute;
			left: 100%;
			top: -2px;
		}


	}
	.blog_content {
		padding: 5px;
		border-radius: 0 0 10px 10px;
		.item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 20px;
			.post-thumb {
				width: 90px;
				margin-right: 10px;
			}
			.contentright {
				width: calc(100% - 100px);
				h3{
					font-size: 14px;
					margin: 0;
					font-weight: 700;
					a{
						display: block;
						color: #000;
						&:hover{
							color: $main-color;
						}
					}
				}
			}
			&:last-child{
				border: initial;
				margin: 0;
				padding: 0;
			}
		}
	}
}
.layout-article{
	padding-bottom: 30px;
}
.article-main  {
	.time-post {
		font-size: 14px;
		font-weight: 400;
		color: #000;
		display: inline-block;
		margin-right: 10px;
		svg{
			width: 15px;
			height: 15px;
			margin-top: -5px;
			margin-right: 2px;
			path{
				fill: $main-color;
			}
		}
	}
	.article-image{
		margin-bottom: 20px;
	}
	.article-title{
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 30px;
		font-weight: 700;
		color: #000;
		line-height: 34px;
	}
	.posts {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.rte {
		font-size: 14px;
		iframe{
			@media (max-width: 767px){
				width: 100%;
			}
		}
	}
	#article_comments {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
		label {
			display: block;
			margin-bottom: 4px;
			font-weight:700;
			.required {
				color: #ff0000;
			}
		}
		input{
			height: 40px;
		}
	}
	.form-group {
		input {
			width: 100%;
			margin-bottom: 15px;
			outline: none;
			font-size: 14px;
			border-radius: 5px;
			padding: 5px 20px;
			border: 1px solid #e6e6e6;
			border-bottom: 2px solid $main-color;
			&::placeholder {
				color: #7c7c7c;	
			}
			&:-ms-input-placeholder { 
				color: #7c7c7c;
			}
			&::-ms-input-placeholder {
				color: #7c7c7c;
			}
		}
		textarea {
			width: 100%;
			margin-bottom: 15px;
			outline: none;
			font-size: 14px;
			border-radius: 5px;
			padding: 5px 20px;
			border: 1px solid #e6e6e6;
			border-bottom: 2px solid $main-color;
			&::placeholder {
				color: #7c7c7c;	
				opacity: 1; 
			}
			&:-ms-input-placeholder { 
				color: #7c7c7c;
			}
			&::-ms-input-placeholder {
				color: #7c7c7c;
			}
		}
	}
	.button_45 {
		height: 40px;
		line-height: 38px;
		padding: 0 25px;
		background: $main-color;
		font-size: 14px;
		color: #fff;
		border: solid 1px $main-color;
		font-weight: 400;
		margin-top: 10px;
		border-radius: 5px;
		&:hover {
			background:#fff;
			border-color:$hover;
			color:$hover;
		}
	}
	.title-form-coment {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 5px;
		padding-bottom: 15px;
		color: #000;
		font-weight: 500;
	}
}
#article-comments{
	.article-comment {
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px dotted #c9c8c5;
		&:last-child {
			padding-bottom: 30px;
		}
	}
	.article-comment-user-image {
		margin: 0;
		float: left;
		width: 80px;
		margin-right: 12px;
		height:80px;
		border-radius:0;
		display:block;
	}
	.article-comment-user-comment {
		display:block;
		float:left;
		width:calc(100% - 95px);
		-webkit-width:calc(100% - 95px);
		-moz-width:calc(100% - 95px);
		-o-width:calc(100% - 95px);
		-os-width:calc(100% - 95px);
		padding-left:10px;
		word-break: break-word;
		font-size: em(14px);
	}
	.user-name-comment {
		margin: 0;
		font-size: 14px;
		line-height: 1;
		font-weight:700;
		strong {
			font-weight: 700;
		}
	}
	.article-comment-date-bull {
		padding: 5px 0;
		display: block;
		color: #b0b0b0;
		font-size:12px;
	}
	.cm {
		font-size:14px;
		color:#000;
	}
}
.social-sharing {
	border-top: solid 1px #e4e4e4;
	padding: 20px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	span{
		margin-right: 10px;
	}
	.addthis_inline_share_toolbox {
		margin-top: 3px;
	}
}
.blog_lienquan{
	h2{
		font-size: 28px;
		margin-bottom: 15px;
		font-size: 18px;
		text-transform: uppercase;
		color: #231f20;
	}
	.item-blog {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		border-radius: 5px;
		.block-thumb{
			width: 375px;
			margin-right: 30px;
			.thumb {
				padding-bottom: 66%;
				display: block;
				height: 0;
				position: relative;
				img{
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
					width: auto !important;
					height: auto !important;
					position: absolute;
				}
			}
		}
		.block-content  {

			h3{
				padding: 0px;
				margin: 0px 0 15px;
				line-height: 24px;
				font-size: 18px;
				color: #000;
			}
			.time-post {
				font-size: 14px;
				font-weight: 400;
				color: #000;
				display: inline-block;
				margin-right: 10px;

				svg{
					width: 15px;
					height: 15px;
					margin-top: -5px;
					margin-right: 2px;
				}
			}
			p.justify {
				font-size: 14px;
				color: #000;
				margin: 15px 0;
				font-weight: 400;
			}
			.viewmore{
				height: 35px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: #363636;
				color: #000;
				font-size: 14px;
				padding: 0 30px;
				&:hover{
					background: $hover;
				}
			}
		}
	}
}
@media (max-width: 991px){
	.aside-content-blog{
		margin-top: 30px;
	}
}



.social-sharing {
	border-top: solid 1px #e4e4e4;
	padding: 20px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	.addthis_toolbox {
		a {
			margin-bottom: 0;
		}
	}
	span{
		margin-right: 10px;
	}
	.addthis_inline_share_toolbox {
		margin-top: 3px;
	}
}
.right-content .row{
	margin-left: -12px;
	margin-right: -12px;
	.col-md-6{
		padding-left: 12px;
		padding-right: 12px;
		.item-blog .block-content .time-post{
			margin-bottom: 10px;
		}
		.item-blog .block-content h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}

	}
}
.blog-search-form{
	overflow: hidden;
	position: relative;
	margin-bottom: 0px;
	max-width: 500px;
	border-radius: 6px;
	overflow: hidden;
	border: 2px solid $main-color;
	input{
		width: 100%;
		height: 36px;
		padding-right: 80px;
		padding-left: 10px;
		border: 0;
	}
	button{
		position: absolute;
		right: 1px;
		width: 60px;
		height: 34px;
		background: $hover;
		border: 0;
		border-radius: 5px;
		top: 1px;
		&:hover{
			opacity: 0.7;
		}
		path{
			fill: #fff;
		}
	}
}

.blog-lienquan{
	margin-top: 50px;
}
.art-pro {
	margin-top: 15px;
	margin-bottom: 15px;
}
.search-blog{

	border-radius: 15px;
	padding: 20px;
	background: #fff;
	margin-bottom: 30px;
@media(max-width: 991px){
	margin-top: 30px;
}
	.title-head {
		margin-bottom: 15px;
		position: relative;
		font-size: 24px;
		font-weight: 700;
		color: $main-color;
		display: inline-block;
		a{
			color: #fff;
			&:hover{
				opacity: 0.7;
			}
		}
	}
	.thump-searh{
		padding: 10px 0px;
	}
}

.thump-comment{
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}


.hidescroll {
	display: none;
}
.auto{
	display: block;
}
.fixMenu {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 30px;
	right: 0;
	width: auto;
	min-width: 373px;
	border: 1px solid rgba(224,224,224,0.95);
	background: #f9f9f9;
	overflow: auto;
    z-index: 999;
	.closeftoc {
		padding: 12px 5px;
		position: relative;
		margin-bottom: 10px;
		background: rgba(237,237,237,.95);
		font-weight: 400;
		font-size: 20px;
		img {
			width: 24px;
			margin-right: 10px;
			vertical-align: middle;
		}
		span {
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 18px;
			font-size: 20px;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			border: 2px solid #333;
			line-height: 19px;
			text-align: center;
			font-weight: 400;
		}
	}
	.dola-toc-bottom {
		> ol {
			padding-left: 0px;
			list-style: decimal;
			list-style-type: none;
			list-style-position: inherit;
			padding-left: 0px;
			li {
				> a {
					padding: 5px 10px;
					display: inline-block;
					width: 100%;
					&:hover {
						background: $main-color;
						color: #fff;
					}
				}
				.is-collapsible {
					list-style: decimal;
					list-style-type: circle;
					list-style-position: inherit;
					padding-left: 0px;
					li {
						padding-left: 0px;
						display: inline-block;
						width: 100%;
						a {
							padding-left: 30px;
							font-style: italic;
							position: relative;
							width: 100%;
							&:before {
								content: "";
								top: 13px;
								left: 15px;
								position: absolute;
								width: 9px;
								height: 9px;
								border: solid 2px #d7d7d7;
								border-radius: 50%;
							}
						}
						&.is-active-li {
							> a {
								background: $main-color;
								color:#fff;
							}
						}
					}
				}
				&.is-active-li {
					> a {
						background: $main-color;
						color:#fff;
					}
				}
			}
		}
	}
}
.tabClick{
	position: fixed;
    top: 30% !important;
    right: 0;
    z-index: 99;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background: $main-color;
	img{
		width: 30px;
		filter: brightness(0) invert(1);
		-webkit-filter: brightness(0) invert(1);
	}
}
.ftoc-head{
	background:#ebf9ff;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 30px;
	.title-goto-wrapper{
		margin-bottom: 15px;
		position: relative;
		font-size: 24px;
		font-weight: 700;
		color: $main-color;
		display: inline-block;
		img{
			height: 25px;
			position: absolute;
			left: 100%;
			top: -2px;
		}
	}
	.dola-toc {
		.toc-list  {
			list-style: decimal;
			list-style-type: disc;
			list-style-position: inherit;
			    padding-left: 20px;

			.toc-list-item {
				color: #000;
				margin-bottom: 10px;
				font-size: 16px;
				a {
					color: #000;
					font-size: 16px;
				}
				.is-collapsible {
					list-style: decimal;
					list-style-type: circle;
					list-style-position: inherit;
					padding-left: 20px;
				}
			}
		}
	}
}